# Deployment Configuration

ETHERSCAN_API_KEY=your_ETHERSCAN_API_KEY_here

# Base Sepolia
BASE_SEPOLIA_DEPLOYER_PRIVATE_KEY=your_BASE_SEPOLIA_DEPLOYER_PRIVATE_KEY_here
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org

# Optimism Sepolia
OPTIMISM_SEPOLIA_DEPLOYER_PRIVATE_KEY=your_OPTIMISM_SEPOLIA_DEPLOYER_PRIVATE_KEY_here
OPTIMISM_SEPOLIA_RPC_URL=https://sepolia.optimism.io

# Arbitrum Sepolia
ARBITRUM_SEPOLIA_DEPLOYER_PRIVATE_KEY=your_ARBITRUM_SEPOLIA_DEPLOYER_PRIVATE_KEY_here
ARBITRUM_SEPOLIA_RPC_URL=https://arbitrum-sepolia.drpc.org